
body {
    background-image: url('https://www.wallpapertip.com/wmimgs/66-666819_website-design-background-creative-background-image-for-website.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    opacity: 75%;
}
h1,h2{
        color: rgb(0, 0, 0);
        text-align: center;

}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #375f5f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30PX;
    background-size: cover;
}
input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

.input-submit{
    padding: 10px 20px;
    background-color:green;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: medium;
}
.input-submit:hover{
    background-color: rgb(9, 77, 19);
}

button {
    padding: 10px 20px;
    background-color:rgb(233, 169, 9);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: medium;
}
button:hover {
    background-color: #ef8b09;
}

a {
    display: block; 
    margin-top: 20px; 
    color: #bc6202; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

li{
    font-size:x-large;
    color: rgb(250, 247, 247);
}
